.navbar-default {
	background-color:black;
	padding:4px 0px;
	
	border:0px;
	}
	#navbar {
	background-color:black;
	margin-top:60px;
	height:700px;
	}
	#navbar ul li {list-style:none;}
	
	#navbar .container {
	
	text-align:center;
	margin-top:160px;
	}

	#navbar .container ul li a{ color:grey;
font-family:'Orbitron';
font-size:25px;}

#navbar .container ul li a:hover {color:white;}

#navbar .container ul li {margin:20px 0px 0px 0px;}
	
.navbar-header h1 {color:white;
font-family:'Orbitron';
margin:10px;
font-size:23px;
}
.glyphicon-menu-hamburger {
color:white
}
.button {
	width:50px;
	height:50px;
	display:block;
	background-image:url("images/ic_view_headline_white_24dp_2x.png");
	
	float:left;
	cursor:pointer;
}


.container-fluid ul.social-media {

list-style:none;
height:50px;
margin-top:-13px;
}

.container-fluid .social-media a {cursor:pointer;
}

.container-fluid .social-media li {display:inline;
}

.container-fluid .social-media img{width:50px;
	height:50px;
	
	
	}
	
.main-logo img{width:50px;
height:50px;
margin-left:3px;}

h2:first-child {margin-top:0px;}
h2{
background-color:black;
color:white;
padding:23px ;
text-align:center;
font-size:20px;
font-family:'Orbitron';}

main .jumbotron {
margin-top:-10px;
margin-bottom:-20px;
text-align:center;
height:500px;
color:white;
	font-size:27px;
	
	font-family:'Fjalla One';
	text-transform:capitalize;
}

main .jumbotron h3 {margin-top:160px;
font-size:30px;}

.object {
background:url("images/obect-3.JPG");
background-origin:border-box;
background-size:cover;
background-attachment:fixed;
background-position:center;
}

.nature {
background:url("images/1-min.jpg");
background-origin:border-box;
background-size:cover;
background-attachment:fixed;
background-position:center;
}

.street {
background:url("images/4.JPG");
background-origin:border-box;
background-size:cover;
background-attachment:fixed;
background-position:center;
}

.random {
background:url("images/7.JPG");
background-origin:border-box;
background-size:cover;
background-attachment:fixed;
background-position:center;
}

main .jumbotron a 
 {color:white;
font-family:sans-serif;
padding:10px;
display:inline-block;
border:1px solid white;
text-decoration:none;
font-size:17px;
margin:15px 0px 0px 0px;}

main .jumbotron:last-child {
margin-bottom:0px;
}

footer {background-color:black;
margin-bottom:0px;
padding:10px;
color:white;}

.parent {
background-image:url("images/Optimized-jumbo.jpg");
background-size:cover;
height:672px;
margin-bottom:0px;
background-color:white;
}

.arrow {background:transparent;
text-align:center;
margin-top:160px;}

.arrow a{color:white;
display:inline-block;
padding:10px;
border:1px solid black;
text-decoration:none;
margin-right:20px;}

.arrow a:hover {
color:white;
background-color:black;
}
.fb {
margin-right:-24px;
}

nav,header,footer,section {
display:block;
width:100%;
}


footer .container {
margin-top:12px;
}

footer .container ul {
width:179px;
margin:1px auto 0px auto;
//border:1px solid yellow;}

footer .container ul li {display:inline-block;
margin-left:10px;
//border:1px solid red;}
footer .container ul li:first-child {
//border:1px solid green;
margin-left:-16px;
}
footer p {margin-top:7px;}